* {

}

body {
	margin: 0;
	font-family: Anna-Roman,monospace, arial, ubuntu;
	background-color: #fff;
        font-size: 17px;
}

@font-face {
    font-family: Anna-Roman;
    src: url(../fon/Anna-Roman.woff);
}

.moleculaOLD {
    /*background-color: #ddd;*/
    position:relative;
    top: 0px;
    left: 0px;
    right: 30%;
    bottom: 0px;
    
    width:500px;
    height:500px;
}

.molecula {
    
}

.moleculaLogo {
    position: absolute;
    width: 400px;
}

/*.atomo {
    background-color: #000;
    color: #fff;
    
    position: absolute;
    width: 200px;
    height: 200px;
    
    border-radius: 100px;
    
    text-align: center;
}*/

/*.electron2 {
    position: absolute;
    top:10px;
    left:10px;
    background-color:red;
    width: 200px;
    height: 200px;
}*/

.electron {
    overflow: hidden;
    background-color: #000;
    color: #fff;
    
    text-align: center;
    vertical-align: central;
    border-style: solid;
    border-color: #000;
    border-width: 3px;
    z-index: 1;
}

#electron0 {
    background: url(../img/logo.png);
    background-size: cover;
    background-repeat: no-repeat;
    color:red;
    border-radius: 0px;
    border:none;
    cursor:pointer;
}

.electron div {
    /*background-color:green;*/
    margin-left: 6px;
    margin-right: 6px;
}

.contInfo {
    font-size: 1.8em;
    position: absolute;
    right: 50px;
    top: 50px;
    bottom: 50px;
    left: 70%; /*HACER CON JS*/
    background-color: #000;
    color: #fff;
    padding:10px;
    border-style: solid;
    border-color: #A07E59;
    border-width: 10px;
}

.pizarra {
    font-size: 1.8em;
    position: absolute;
    right: 50px;
    top: 50px;
    bottom: 50px;
    left: 70%; /*HACER CON JS*/
    background-color: #000;
    color: #fff;
    padding:10px;
    border-style: solid;
    border-color: #A07E59;
    border-width: 10px;
}

.news {}
.contact {}
.map {}

.bgPopup {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 2;
    background-color: rgba(0,0,0,0.3);
    display: none;
}

.popup {
    position: absolute;
    background-color: #FAE9CD;
    border-style: solid;
    border-color: #333;
    border-width: 3px;
    border-radius: 5px;
    min-width: 300px;
    min-height: 185.41px;
    width: 90%;
    height: 90%;
    max-width: 500px;
    max-height: 309.02px;
    padding: 10px 10px;
    /*display:none;*/
    z-index: 3;
}

.popupContactoTit {
    font-size: 1.8em;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.popupContactoTxt {
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 20px;
}

.contCajas {
    width: 100%;
}

.caja {
/*    width: 100%;*/
}
